* {
    min-height:0;
    min-width : 0;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

/*header*/
.header-logo {
    color: rgb(255, 255, 255);
    position: absolute;
    margin-left: 10%;
    margin-top: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    font-family: "fertigo-script",sans-serif;
}

.background-header {
    background-image: url(../images/hea.jpg);
    background-position: left;
    background-size: cover;/*この場合は高さが自動設定*/
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 80px;
    text-align: right;
    margin-left: 10%;
}

.header-nav-p {
    height: 80px;
}

.header-nav nav {
    margin-left: 4%;
}

.header-nav a {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    font-family: "fertigo-script",sans-serif;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 26, 255);
}

/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.none {
    display: none;
}

.unnone {
    display: block;
}

/*----------------------------
* メニュー本体
*----------------------------*/
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(23, 18, 87, .7);
}

.menu__item {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: .5em 1em;
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
}

.menu__item a {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    font-family: "fertigo-script",sans-serif;
    text-decoration: none;
}

/*----------------------------
* アニメーション部分
*----------------------------*/

/* アニメーション前のメニューの状態 */
.menu {
    transform: rotateZ(-90deg);
    transition: all .3s ease;

    transform-origin: top left;
}
/* アニメーション後のメニューの状態 */
.menu.is-active {
    transform: rotateZ(0deg);
}

/*index*/

.background-index {
    width: 100%;
    height: 100vh;
    background-image: url(../images/photo-1577853219386-6fae370d58673.jpg);
    background-position: center;
    background-size: cover;/*この場合は高さが自動設定*/
    background-repeat: no-repeat;
    font-style: normal;
    font-weight: 400;
    font-family: "fertigo-script",sans-serif;
}

.index-title {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 10%;
    margin-top: -80px;
    color: #ffffff;
    font-size: 70px;
    line-height: 80px;
}

.subline01 {
    position: absolute;
    bottom: 52%;
    left: 46%;
    transform: rotate(-20deg);
    color: #ffffff;
    font-size: xx-large;
}

.subline02 {
    position: absolute;
    bottom: 100px;
    right: 10%;
    color: #ffffff;
    font-size: 24px;
}

/* works */
.background-works {
    background-color: rgb(201, 230, 253);
}

.image1 {
    width: 100%;
}

.content {
    width: 80%;
    height: auto;
    margin-bottom: 50px;
    margin-left: 10%;
}

.works-title {
    color: rgb(17, 0, 94);
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    font-family: "fertigo-script",sans-serif;
    text-align: center;
    margin-top: 50px;
}

.works-genre {
    color: rgb(17, 0, 94);
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    font-family: "fertigo-script",sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.underline {
    width: 40%;
    margin-top: 5px;
    margin-left: 30%;
    border-bottom: 1px solid #000000;
    text-align: center;
}

.text1 {
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    font-family: "ten-mincho-text", serif;
    text-align: center;
}

.content-poster {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.image2 {
    width: 28%;
    height: auto;
}

.image2h {
    width: 48%;
}

.content-leaflet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image3 {
    flex-shrink: 0;
    align-self: flex-start;
    width: 35%;
    height: auto;
    margin-left: 20px;
}

.text2 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: "ten-mincho-text", serif;
    text-align: center;
}

.text2l {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: "ten-mincho-text", serif;
    text-align: left;
}

.work-title1 {
    flex-shrink: 0;
    font-weight: 600;
    font-size: xx-large;
}

.work-title2 {
    font-style: normal;
    font-weight: 600;
    font-size: xx-large;
    font-family: "ten-mincho-text", serif;
}

.image4 {
    width: 13%;
    margin-bottom: 2%;
    margin-left: 87%;
}

.top-back {
    width: 70px;
}

#pageTop {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.unite-logo {
    width: 70%;
    text-align: center;
}

.image3h {
    flex-shrink: 0;
    align-self: flex-start;
    width: 35%;
    height: auto;
    margin-left: 20px;
}

#b {
    padding-left: 25%;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: large;
}

#b:hover {
    color: rgb(255, 255, 255);
}

/* about me */
.background-about-me {
    width: 100%;
    height: 100vh;
    background-image: url(../images/ryan-miller-hEonhaS_fcA-unsplash2.jpg);
    background-position: center;
    background-size: cover;/*この場合は高さが自動設定*/
    background-repeat: no-repeat;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-me-title {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    font-family: "fertigo-script",sans-serif;
    text-align: center;
}

.underline-w {
    width: 40%;
    min-width: 300px;
    margin: 0 auto;
    padding-top: 15px;
    border-bottom: 1px solid rgb(255, 255, 255);
    text-align: center;
}

.icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.icon:hover {
    transform: rotate(360deg);
    transition-duration: .5s;
}

.name {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 400;
    font-size: x-large;
    font-family: "ten-mincho-text", serif;
}

.text3 {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: "ten-mincho-text", serif;
}

.icon2 {
    width: 60px;
}

.icon2:hover {
    opacity: .6;
    transition-duration: .3s;
}

/* footer　*/

footer {
    bottom: 0; /*下に固定*/
    width: 100%;
    height: 10vh;
    background-color: rgb(17, 0, 94);
}

.foot {
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 10vh;
    text-align: center;
}

.foot2 {
    position: absolute;
    left: 10%;
    bottom: 10%;
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-align: center;
}

.content-recent {
    width: 80%;
    height: 800px;
    margin-top: -15px;
    margin-left: 10%;
}

/* カードレイアウト部分をラッピングし、
Flexboxを指定"space-between"で各アイテムを均等に配置し、
最初と最後のアイテムを端に寄せます。*/
#cardlayout-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 2em auto;

    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: justify;
}

/* リンクテキストの下線を非表示 */
a.card-link {
    text-decoration: none;
}

/* カードレイアウト内の画像を幅いっぱいに表示 */
#cardlayout-wrap img {
    display: block;
    max-width: 100%;
    height: auto;
}

.card-figure {
    margin: 0;
    padding: 0;
}

/* カードレイアウトのタイトル部分 */
.card-title {
    margin: .6em 0 0;
    color: #333333;
    font-size: 1.8em;
    text-align: center;
}

/* カードレイアウトの説明文部分 */
.card-text-tax {
    margin: 0;
    padding: 1em;
    color: #818181;
}

/* カードレイアウトを1カラムで配置 */
.card-list {
    width: 96%;
    margin: .5em auto;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .08);
    background: #f0f0f0;
}

/* 画面幅768px以上の場合カードレイアウトを2カラムで配置 */
@media all and (min-width: 768px) {
    .card-list {
        width: calc(96% / 2); /* 96%幅を2で割るという指定 */
        margin: .5em 0;
    }
}

/* 画面幅992px以上の場合カードレイアウトを3カラムで配置 */
@media all and (min-width: 992px) {
    .card-list {
        width: calc(96% / 3); /* 96%幅を3で割るという指定 */
    }

    /* 最後の行が3列より少ない場合左寄せにレイアウトさせる */
    #cardlayout-wrap::after {
        display: block;
        width: calc(96% / 3);
        content: "";
    }
}

@media screen and (min-width: 701px) {
    .text {
        display: block;
        width: 50%;
        min-width: 0;
        word-break: break-all;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        font-family: "ten-mincho-text", serif;
        text-align: left;
        padding-right: 5%;
    }
    
    .images {
        width: 50%;
        min-width: 350px;
        margin-bottom: 35px;
    }
}

/*メディアクエリ*/
@media screen and (max-width: 700px) {
    .p {
        background-position: bottom;
    }

    .index-title {
        position: absolute;
        top: 20%;
        bottom: 0;
        left: 8%;
        margin: 0;
        color: rgb(255, 255, 255);
        font-size: 60px;
        line-height: 80px;
    }

    .subline01 {
        display: none;
    }

    .content-leaflet {
        flex-direction: column;
    }

    .text {
        display: block;
        width: 90%;
        min-width: 0;
        word-break: break-all;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        font-family: "ten-mincho-text", serif;
        text-align: left;
        margin-bottom: 25px;
    }
    
    .images {
        width: 90%;
        min-width: 200px;
        margin-bottom: 35px;
    }

    .initial {
        margin-bottom: initial;
    }
}

@media screen and (max-width: 600px) {
    .header-nav {
        display: none;
    }

    .foot {
        font-size: 12px;
    }

    .foot2 {
        right: 10%;
        margin: 0 auto;
        font-size: 24px;
    }

    .pc {
        display: none;
    }

    /* about me */

    .introduction {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .about-me-title {
        margin-top: 30px;
        color: rgb(255, 255, 255);
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        font-family: "fertigo-script",sans-serif;
        text-align: center;
    }

    .underline-w {
        width: 30%;
        min-width: 200px;
        margin: 0 auto;
        padding-top: 15px;
        border-bottom: 1px solid rgb(255, 255, 255);
        text-align: center;
    }

    .icon {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .icon:hover {
        transform: rotate(360deg);
        transition-duration: .5s;
    }

    .name {
        color: rgb(255, 255, 255);
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        font-family: "ten-mincho-text", serif;
    }

    .text3 {
        color: rgb(255, 255, 255);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        font-family: "ten-mincho-text", serif;
    }

    .icon2 {
        width: 60px;
    }

    .icon2:hover {
        opacity: .6;
        transition-duration: .3s;
    }
}

@media screen and (min-width: 600px) {
    .header-nav-p {
        display: none;
    }
    .phone {
        display: none;
    }
}

.x {
    background-color: #818181;
    width: 100%;
}

.y {
    display: flex;
}

.z {
    display: block;
    width: 40%;
    min-width: 0;
    word-break: break-all;
}

.s {
    width: 60%;
}